name: Build My Angular App

on:
  push:
    branches: [ main ]

jobs:
  build-angular-app:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node JS
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      # Use npm install instead of npm ci for now
      - name: Install Dependencies
        run: npm install

      - name: Build Angular App
        run: npm run build

      # Optional: list scripts to check
      - name: List npm scripts
        run: npm run
